@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 500;
}
body {
  background: var(--bg-color);
  min-height: 93vh;
}

:root {
  --primary: #f06224;
  --font-color: #521901;
  --color-secondary: #fb9129;
  --font-family: "Pacifico", Tahoma, Geneva, Verdana, sans-serif;
  --bg-color: -webkit-linear-gradient(65deg, #e0e0e0 50%, #e0e0e0 50%);
  --shadow: #c54109;
  --wrap-color: #fcba99;
}

[data-theme="dark"] {
  --primary: #1f2833;
  --font-color: #1f2833;
  --color-secondary: #45a29e;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --bg-color: #75777a;
  --shadow: #1f2833;
  --wrap-color: #c5c6c7;
}

body .themePanel {
  /* position: absolute; */
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  left: 2rem;
  bottom: 2rem;
  position: fixed;
  transition: transform 0.5s;
}

body .themePanel:hover {
  transform: scale(1.5);
}

.wrapper {
  background: var(--wrap-color);
  width: 60%;
  max-width: 760px;
  margin: 40px auto;
  border-radius: 8px;
  padding: 18px;
  box-shadow: 14px 18px 15px -4px rgba(0, 0, 0, 0.3);
}

input {
  color: var(--font-color);
  outline: none;
  font-size: 16px;
}

header {
  border-radius: 14px 14px 0 0;
  text-align: center;
  font-size: 2em;
  background: var(--color-secondary);
  min-height: 250px;
  box-shadow: inset -10px -10px 60px 4px var(--primary);
}

header h2 {
  padding: 20px 0 20px 0;
  color: #ffffff;
  text-shadow: 5px 5px 4px var(--shadow);
}

header h2 img {
  transform: translateY(30px);
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

header #search-note input {
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 8px;
  margin: 16px 0 40px 0;
  box-shadow: 5px 5px 4px var(--shadow);
  transition: 0.5s;
}

header #search-note input:focus {
  box-shadow: 0px 0px 0px #c54109;
}

header #search-note input::placeholder {
  color: grey;
}

.note-list {
  text-align: left;
  color: var(--font-color);
  margin-top: 36px;
  border: none;
  font-size: 20px;
  font-weight: 200;
}

.note-list ul {
  display: block;
  list-style: none;
  padding: 0 40px 0 40px;
}

.note-list ul li,
.note-list ul .anime {
  justify-content: space-between;
  padding: 32px 8px 8px 18px;
  margin-bottom: 26px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 5px 5px 12px var(--primary);
  position: relative;
  /* transform: rotate(5deg); */
}
.note-list ul .anime {
  margin-top: 16px;
}

.note-list ul li .pin {
  width: 5rem;
  height: 4rem;
  position: absolute;
  top: -22px;
  left: 0.4rem;
}

.note-list ul li p:nth-child(2) {
  text-align: right;
}

.note-list ul li p span {
  cursor: pointer;
  margin-left: 5px;
}

.note-list ul li input {
  display: none;
  border: 1px solid var(--primary);
  padding: 5px 16px;
  width: 80%;
  border-radius: 4px;
  background-color: #fff2eb;
}

#add-notes {
  padding: 30px 0;
}

#hide-list {
  cursor: pointer;
  font-size: small;
  margin: 40px 20px 0 20px;
  color: var(--font-color);
}

#hide-list label {
  padding: 5px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 5px 5px 4px var(--primary);
  transition: 0.5s;
}

#hide-list label:hover {
  background: #efefef;
  box-shadow: 0px 0px 0px var(--primary);
}

#hide-list input[type="checkbox"] {
  display: none;
}

form#add {
  margin-top: 10px;
  text-align: center;
}

form#add input {
  border-radius: 2px;
}

form#add input[type="text"] {
  color: var(--font-color);
  text-align: center;
  height: 60px;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  font-size: 20px;
  font-weight: 200;
  width: 300px;
  box-shadow: 5px 5px 4px var(--primary);
  transition: 0.5s;
}

form#add input[type="text"]:focus {
  outline: none;
  background-color: #fafafa;
  box-shadow: 0px 0px 0px;
}

form#add input[type="text"]::placeholder {
  color: gray;
}

form#add input[type="submit"] {
  cursor: pointer;
  min-height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background: var(--color-secondary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  margin-left: 18px;
  box-shadow: inset 9px 19px 10px 5px var(--primary);
}

form#add input[type="Submit"]:hover {
  opacity: 90%;
}

@media screen and (max-width: 600px) {

  body .themePanel {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    z-index: 1;
  }

  .wrapper {
    width: 90%;
    margin: 20px auto;
    border-radius: 6px;
  }

  header {
    font-size: 1.5em;
  }


}

img {
  width: 2.4rem;
  height: 2.4rem;
}

#hide-list label img {
  width: 3.5rem;
  height: 3.5rem;
}